@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.023rem;
}

.form-container {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 35%;
    height: auto;
    background-color: #f9f9f9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
    border: 1px solid #d7d7d7;
    border-radius: .5rem;
}

.blue-line-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
}

.logo-container {
    width:40px;
    width: 40px;
}

.logo-container img {
    width:100%;
    height:100%;
}

.sign-in-text-container {
    width: fit-content;
    height: auto;
}

.sign-in-text-container h1 {
    font-size: 1.3rem;
    color: #444;
}

.red-line-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
}

.inputs-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

.input-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: .25rem;
}

label {
    font-size: .955rem;
    color: #555;
}

input {
    width: 100%;
    height: auto;
    padding: 0.85rem 1rem;
    border-radius: .25rem;
    border: 1px solid #d7d7d7;
    outline-color:rgb(25, 25, 116)
}

.password-forgot-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.password-forgot-container a {
    text-decoration: none;
    color: blue;
    font-size: .80rem;
}

.button-container {
    width: 100%;
    height: auto;
}

.button-container button {
    width: 100%;
    height: auto;
    background-color: #4f46e5;
    color: white;
    border: none;
    outline: none;
    border-radius: .25rem;
    padding: .85rem;
    cursor: pointer;
}

.bottom-content-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.free-trial-container a {
    text-decoration: none;
    font-size: .80rem;
}